
<div class="navbar title">
  <div >FICHA DE REGISTRO DE TRABALHOS REALIZADOS</div>

  <div class=" flex-container">
    <img [src]="userImage" alt="">

    <div>
      <div><span>
        <a routerLink="userUpdate" routerLinkActive="selected">Login</a>
      </span></div>
      <div><span></span></div>
    </div>
  </div>
</div>

<div class="navbar titulo-ano" >
  <span >YYYY</span>
</div>

<div class="fxcontainer-spc-btw navbar">
  <div >
    <ul class="menu">
      <li><a href="#">Home</a></li>
      <li><a href="#">Sobre</a></li>
          <li><a href="#">Relatórios</a>
            <ul>
              <li><a href="#">Por Tarefa</a></li>
              <li><a href="#">Por Mês</a></li>

            </ul>
        </li>
        <li><a href="#">Perfil</a></li>
        <li><a href="#">Configurações</a>
          <ul>
            <li><a href="#">APIs</a></li>
        </ul>
      </li>
  </ul>
  </div>
  <div class="navbar titulo-periodo" >
      <div>
        <label for="periodoAvaliacao">Período de Avaliação:</label>
        <span name="periodoAvaliacao" > Nov/(YY-1) a Out/(YY)</span>
      </div>
    </div>

</div>
