@font-face {
  font-family: "'Alfa Slab One', cursive;";
  src: url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap'");
}

.example-spacer {
  flex: 1 1 auto;
}

.navbar{
  background : #c4c3c3;
  padding: .5rem 1rem 0rem 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: row;
  margin: 0;

}

.title{
  font-family: 'Alfa Slab One';
  font-size: 2rem;
  color: #000000;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;


}

.titulo-ano{
  color: #000;
  font-family: 'Alfa Slab One';
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  justify-content: center;

}

.titulo-periodo{
  justify-content: flex-end;
  padding-top: 0rem;
}

.menu-topo-user{
  text-align: center;
  flex-direction: row;
}

.flex-container {
  display: flex;
  justify-content: flex-end;
  height: auto;
}
.flex-container > div{
  text-align: center;
  font-size: 1.5rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.flex-container > img {
  height: 4rem;
  /* padding-right: 1rem; */
}



