<div class="row p-2">
  <div class="col-md-6 offset-md-3">
    <div class="card m-2 pl-3 ">
      <form class="form border-3  rounded-5 cardbody-color  p-lg-4 " id="formRegistro">

        <div class="text-center fw-bold form-group ">
          <h2>CADASTRO</h2>
        </div>

        <div class="row ">
          <label class="m-0 p-0 fw-bold" for="fullUsername">Nome Completo</label>

          <input type="text" class="form-control" name="fullUsername" id="fullUsername" required autocomplete="off">
        </div>

        <div class="row d-flex justify-content-between pt-2">
          <div class="row col-6">
            <label class="m-0 p-0 fw-bold" for="posto-grad">Posto/Grad</label>
            <input type="text" class="form-control" name="posto-grad" id="posto-grad" required autocomplete="off">
          </div>
          <div class="row col-6 ">
            <label class="m-0 p-0 fw-bold" for="contactUserPhone">Nome de Guerra</label>
            <input class="form-control" type="text" name="warName" id="warName" required
              autocomplete="off">
          </div>

        </div>

        <div class="row d-flex justify-content-between pt-2">
          <div class="row col-6">
            <label class="m-0 p-0 fw-bold" for="setorTrabalho">Setor de Trabalho</label>

            <input type="text" class="form-control" name="setorTrabalho" id="setorTrabalho" required autocomplete="off">
          </div>
          <div class="row col-6 ">
            <label class="m-0 p-0 fw-bold" for="contactUserPhone">Telefone Contato</label>
            <input class="form-control" type="text" name="contactUserPhone" id="contactUserPhone" required
              autocomplete="off">
          </div>

        </div>

        <div class="row pt-2">
          <label class="m-0 p-0 fw-bold" for="username">Nome de Usuário ( Login )</label>

          <input type="text" class="form-control" name="username" id="username" required autocomplete="off">
        </div>
        <div class="row d-flex justify-content-between pt-2">
          <div class="row col-6 ">
            <label class="m-0 p-0 fw-bold" for="user_password">Senha</label>

            <input type="password" class="form-control" name="user_password" id="user_password" required
              autocomplete="off">
          </div>

          <div class="row col-6">
            <label class="m-0 p-0 fw-bold" for="conf_password">Confirmar Senha</label>

            <input type="password" class="form-control" name="conf_password" id="conf_password" required>
          </div>

        </div>
        <div class="row mt-3">
          <input type="submit" class="btn btn-primary btn-lg" name="enviar_btn"  id="enviar_btn" value="ENVIAR">
        </div>

        <div class="row mb-4 text-end">
          <p class="m-0 p-0">Já tenho conta! <a href="login">Entrar</a></p>
        </div>
      </form>
    </div>
  </div>
</div>
