<div class="flex-container">
  <div class="form-box shadow-lg p-3 rounded">
    <form>
      <div class="form-group px-3">


        <div class="d-flex flex-row-reverse mt-3">

          <button routerLink="/home" class="btn btn-size btn-secondary btn-lg mx-3">
            Cancelar
          </button>

          <button type="submit" class="btn btn-size btn-primary btn-lg">
            Registrar
          </button>

        </div>
      </div>
    </form>
  </div>
</div>
<hr class="bt-line5" />
