<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card my-3">

        <form class="card-body cardbody-color p-lg-4 br-25" [formGroup]="formLogin" (ngSubmit)="login()">

          <div class="text-center form-group">
            <img [src]="userImage" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3" width="50px"
              alt="profile">
          </div>

          <div class="mb-3">
            <input type="text" class="form-control" formControlName="username" id="username" aria-describedby="emailHelp" placeholder="User Name">
          </div>
          <div class="mb-3">
            <input type="password" class="form-control" formControlName="password" id="password" placeholder="password">
          </div>
          <div class="text-center">
            <button class="btn btn-success btn btn-color px-5 mb-1 w-50 " type="submit"
              [disabled]="!formLogin.valid">Entrar</button>
            <p *ngIf='mensagem != ""' class="form-text text-center  text-alert mt-2">{{ mensagem }}</p>
          </div>
          <div id="emailHelp" class="form-text text-center  text-dark">Not
            Registered? <a href="#" class="text-dark fw-bold"> Create an
              Account</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
